button {
    border-radius: 55px;
    font-size: 18px;
    line-height: 60px;
    padding: 0 43px;
}

button.button-1 {
    background: #458FF6;
    color: #ffffff;
}

.button-2 {
    border: 1.4px solid #458FF6;
    background: #ffffff;
    color: #458FF6;
    flex-basis: 200px;
    margin: 0 auto;
}